/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
.top {
    margin: 30px; /* Applies 20px margin to all sides */
    border: 4px outset black; /* Just to visualize the element's edge */
    padding: 10px; /* Space inside the border */
    background-color: skyblue;
}
.all {
    margin: 20px; /* Applies 20px margin to all sides */
    border: 0px outset black; /* Just to visualize the element's edge */
    padding: 10px; /* Space inside the border */
}
.body {
    margin: 30px; /* Applies 20px margin to all sides */
    border: 4px outset black; /* Just to visualize the element's edge */
    padding: 10px; /* Space inside the border */
    background-color: skyblue;
}
.image {
    background-color: #97e99f;
    border: 4px outset black; /* Just to visualize the element's edge */
    background-size: cover;
    display: flex;
    justify-content: space-between;
    /* Optional: Vertically centers items if they have different heights */
    align-items: center; 
    /* Optional: Adds space inside the container edges */
    padding: 0 10px;
}
.outside {
    margin: 0px; /* Applies 20px margin to all sides */
    border: 2px outset dodgerblue; /* Just to visualize the element's edge */
    padding: 10px; /* Space inside the border */
}
.centerhorizontal {
  display: flex;
  justify-content: center; /* Centers horizontally */
  /*align-items: center;     /* Centers vertically */
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  min-width: 0;
  min-height: 0;
}





/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

a.button {
  background-color: #6A5ACD; /* blue background */
  color: ivory;              /* color text */
  border: none;              /* Remove default border */
  padding: 15px 32px;        /* Add space around text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;           /* Change mouse cursor to a hand */
  border-radius: 8px;        /* Rounded corners */
  font-weight: bold;
}
a.button2 {
  background-color: #6A5ACD; /* blue background */
  color: ivory;              /* color text */
  border: none;              /* Remove default border */
  padding: 8px 18px;        /* Add space around text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;           /* Change mouse cursor to a hand */
  border-radius: 8px;        /* Rounded corners */
  font-weight: bold;
}
a.youtube {
  background-color: #B22222; /* red background */
  color: ivory;              /* color text */
  border: none;              /* Remove default border */
  padding: 15px 32px;        /* Add space around text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;           /* Change mouse cursor to a hand */
  border-radius: 8px;        /* Rounded corners */
  font-weight: bold;
}
a.outside {
  background-color: #B22222; /* gold background */
  color: ivory;              /* color text */
  border: none;              /* Remove default border */
  padding: 8px 18px;        /* Add space around text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;           /* Change mouse cursor to a hand */
  border-radius: 8px;        /* Rounded corners */
  font-weight: bold;
}
